# Env files
.env
.env.local
.env.*.local

# Build / Astro
dist/
.astro/
.amplify-hosting/

# Node
node_modules/

# Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
